<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<video width="320" height="240" controls>
    <source src="http://localhost:8081/iodemo/getVio" type="video/mp4">
</video>-->

<!--<audio controls="controls" autoplay="autoplay">
    <source src="http://localhost:8081/iodemo/getVio" type="audio/ogg"/>
    <source src="http://localhost:8081/iodemo/getVio" type="audio/mpeg"/>
    Your browser does not support the audio element.
</audio>-->

<audio autoplay="autoplay" controls="controls" loop="loop" id="bg-music">
    <source src='http://localhost:8081/iodemo/getVio' type="audio/mpeg"></source>
</audio>
</body>
</html>